* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.root{
    position: relative;
    height: 100vh;
}

.title {
    font-size: 120%;
    width: 100vw;
    display: flex;
    justify-content: center;
    background: #80A1D4;
}

.title > h1 {
    margin: 40px 0;
    color: #2A4F8A;
}

.inputDIV {
    user-select: none;
    width: 100vw;
    background: #5687C8;
    padding: 20px;
    position: relative;
}

.inputLabel {
    font-size: 150%;

    cursor: pointer;
    margin-right: 20px;
    padding: 10px;
    color: #e0e0e0;
    border-radius: 5px;
    border: 1px solid #c8c8c8;
    background: rgba(255, 255, 255, 0.2);
}

.input {
    width: 0;
    opacity: 0;
    height: 0;
    outline: none;
    border: none;
}

.posts {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
}

.posts > .post {
    position: relative;
    margin: 5px 10px;
}

.text > p {
    font-size: .9rem;
    z-index: 1;
    padding: 10px;
    text-align: center;
    color: #e0e0e0;
    position: absolute;
    top: 75%;
    bottom: 2%;
    left: 0;
    right: 0;
    word-break: break-all;
    white-space: pre-wrap;
}

.post > a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.text:after {
    content: '';
    filter: blur(1px);
    background: black;
    position: absolute;
    top: 80%;
    bottom: 2%;
    left: 0;
    right: 0;
}

.image {
    cursor: pointer;
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.identifier {
    top: 40%;
    position: absolute;
    user-select: text;
    display: flex;
    color: #e0e0e0;
    justify-content: flex-end;
    right: 20%;
}

.Backdrop {
    z-index: 9999999;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
}

.form {
    background: #faf7f7;
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
    top: 50%;
    width: 40%;
    flex-direction: column;
    padding: 10px;
    margin-left: 30%;
}

.inputHolder {
    margin: 10px;
}